// Variable Names
// $some-var-name: 100px;
*
	// vertical-align: middle !important
body, html
	// background-image:
	background-image: url("/asset/IMG/LGO/DeltaStudios_TestLogo_A_0.5_R4P2.jpg")
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	text-align: center
	background-attachment: fixed
	height: 100%
	width: 100%
	// ^ All of the Above is basically just for a cover photo ^
	#PageWrap, .CenterPic, .Continer
		position: relative
		height: 100%
		width: 100%
		// padding: 2em
		// margin: 0px
		// ^Is the above even needed? probably not ^
		h1, h2
			background-color: rgba(0, 0, 0, 0.75)
			z-index: 1
			position: absolute
			&#MyName
				top: 25%
				left: 50%
				transform: translate(-50%, -50%)
			&#MyTitle
				top: 75%
				left: 50%
				transform: translate(-50%, -50%)

		a
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			// right: 0
			// bottom: 0
			.rounded
				margin: auto
				// display: block
				// margin: auto
				height: 200px
				width: 200px
				border-radius: 50%
				object-fit: cover
				// vertical-align: middle
				border: 0.5em dashed white
				// // vertical-align: middle !important