// Variable Names
// $some-var-name: 100px;
*
	vertical-align: middle !important
body, html
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	text-align: center
	background-attachment: fixed
	height: 100%
	width: 100%
.MainGrid
	&#PageWrap
		background-color: rgba($color: #000000, $alpha: 0.675)

		height: 100vh
		// padding: 2em
		// margin: 0px
// 	// ^Is the above even needed? probably not ^
		.MainImage
		height: 100vh
			margin: auto
			vertical-align: middle !important
.rounded
	height: 400px
	width: 400px
	border-radius: 50%
	object-fit: cover
	vertical-align: middle
	border: 0.5em dashed white
	vertical-align: middle !important